<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
    cacheDirectory=".phpunit.cache" backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Froala Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_KEY" value="base64:lVpJ4rRn1kh/k/UzoZth646DCSpSyTXzUzhWNc/bm+c="/>
        <env name="APP_NAME" value="Nova Froala Field"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
</phpunit>
