name: Code formatting

on: [push, pull_request]

jobs:
    phplint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 2
            - name: "laravel-pint"
              uses: aglipanci/laravel-pint-action@0.1.0

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: Formatting
                  skip_fetch: true
